<html>
    <head>
    </head>
    <body>
        <div style="display: flex">
            <!-- Left -->
            <div>{{{left}}}</div>
            <!-- Middle -->
            <div style="flex-grow: 1;">{{{middle}}}</div>
        </div>
    </body>
</html>