<html>
    <head>
    </head>
    <body>
        <div style="display: flex">

            <div>{{{left}}}</div>

            <div style="flex-grow: 1;">{{{middle}}}</div>

        </div>
    </body>
</html>