<style>
    .tree {
        --spacing: 1.5rem;
        --radius: 10px;
    }
    .tree li {
        display: block;
        position: relative;
        padding-left: calc(2 * var(--spacing) - var(--radius) - 2px);
    }
    .tree ul {
        margin-left: calc(var(--radius) - var(--spacing));
        padding-left: 0;
    }
    .tree ul li {
        border-left: 2px solid #ddd;
    }
    .tree ul li:last-child {
        border-color: transparent;
    }
    .tree ul li::before {
        content: '';
        display: block;
        position: absolute;
        top: calc(var(--spacing) / -2);
        left: -2px;
        width: calc(var(--spacing) + 2px);
        height: calc(var(--spacing) + 1px);
        border: solid #ddd;
        border-width: 0 0 2px 2px;
    }
    .tree summary:focus-visible {
        outline: 1px dotted #000;
}
</style>

<ul class="tree">
    {{#drawing.children}}
    <li>
    <details open>
    <summary>Layer: {{name}}</summary>

    <ul>
        {{#children}}
        <li>
        <details open>
        <summary>Part</summary>

        <ul>
            {{#children}}
            <li>
            <details>
            <summary>Cut</summary>

                <ul>
                    {{#children}}
                    <li>
                    <details>
                    <summary>Chain</summary>

                    <ul>
                        {{#shapes}}
                        <li>
                        <details>
                            <summary>Shape: {{.type}}</summary>
                        </details>
                        </li>        
                        {{/shapes}}
                    </ul>

                    </details>
                    </li>        
                    {{/children}}
                </ul>

            </details>
            </li>
            {{/children}}

        </details>
        </li>
        {{/children}}
    </ul>

    </li>
    {{/drawing.children}}
</ul>